<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio G.C</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="send">
   <header>
      <div class="cont-nav">
          <nav class="nav">
              <ul class="nav-list">
                  <li class="li"><a href="./#fr-inicio">Inicio</a></li>
                  <li class="li"><a href="./#section1">Sobre mim</a></li>
                  <li class="li"><a href="./#projetos">Projetos</a></li>
                  <li class="li"><a href="./#habilidades">Habilidades</a></li>
                  <li class="li"><a href="./#contato">Contato</a></li>
              </ul>
          </nav>
      </div>
  </header>

  <section id="send-contato">
     <div id="msg-contato">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h1>Obrigado por entrar em contato {{ formContato.nome }}</h1>
        <h3>Sua mensagem:</h3>
        <p>"{{ formContato.mensagem }}".</p>
        <h3>foi enviada com sucesso!</h3>
     </div>
  </section>

</body>
</html>